demcat
demgrep
myfork
myls
mygrep
main
*.exe
*.out
*.app

*.o
*.ko
*.obj
*.elf

*.a
*.lib
*.so
*.dylib
*.dll

*.dSYM/
*.su
*.idb
*.pdb

*.s
*.i
*.ii

.deps/
.depend/
.autotools/

*~
*.bak
*.backup
*.tmp
*.swp
*.swo
.*.swp
.*.swo

.vscode/
.idea/
*.project
*.cproject
*.settings/

*.d
*.lst
*.map

build/
dist/
bin/
obj/
Debug/
Release/

.DS_Store
Thumbs.db
ehthumbs.db

*.log

*.pdf
*.doc
*.docx